@import "react-alice-carousel/lib/alice-carousel.css";

p {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items:  center;
  text-align: center;
  vertical-align: center;
  margin-top: 10;
}


.input {
  border: 0.5px solid #000;
  border-radius: .2em;
  padding: 0.5rem;
  width: 7em;
}

.selector {
  font-weight: bold;
  font-size: 3rem;
}

select {
  margin-left: .6rem;
  width:30%;
}

carouselItem: {
display: flex;
alignItems: center;
cursor: pointer;
textTransform: uppercase;
color: white;
flexDirection: column;
}

carousel: {
height: 50%;
display: flex;
alignItems: center;
}
