@import "react-alice-carousel/lib/alice-carousel.css";

:root {
  background-image: url("../banner3.jpg");
  font-family: Georgia;
}


.currency {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items:  center;
  text-align: center;
  vertical-align: center;
  margin-top: 10;
}


.input {
  border: 0.5px solid #000;
  border-radius: .2em;
  padding: 0.5rem;
  width: 7em;
}

.selector {
  font-weight: bold;
  font-size: 3rem;
  text-align: center;
}

select {
  margin-left: .6rem;
  width:30%;
}

.carouselitem: {
display: flex;
alignItems: center;
cursor: pointer;
textTransform: uppercase;
color: white;
flexDirection: column;

}

.carousel: {
height: 50%;
display: flex;
}

.price {
  color: white;
  padding: 0.3rem;
}

h1 {
  color: white;

}